<main-menu></main-menu>

<div class="home-background">

  <header class="home-header">
    <h1>Walk a Story <span class="recorder-title">Recorder</span></h1>
  </header>

  <filter-menu></filter-menu>

  <div class="gallery-container"
       ng-class="{ 'padding-140' : ('language.home.place_id' | routeSegmentStartsWith) || ('language.home.location' | routeSegmentStartsWith) && home.videoService.selectCity !== '',
                   'padding-100' : ('language.home.location' | routeSegmentStartsWith) && home.videoService.selectCity === '' }">

    <div ng-hide="('language.home.location' | routeSegmentStartsWith) || ('language.home.place_id' | routeSegmentStartsWith)">

      <div class="empty-container"
           ng-show="profile.videoServiceData.videoList.videos.length === 0">

        <div class="empty-icon">
          <span class="fas fa-video-slash"></span>
        </div>

        <p>{{home.rootService.languageText.profile_no_videos}}
          <br>
          {{home.rootService.languageText.profile_no_videos2}}
          <a ng-click="home.goToUpload()">{{home.rootService.languageText.profile_upload_title}}</a>
        </p>

      </div>

      <div class="video-target" ng-repeat="video in home.videosFiltered | orderBy: '-creation_date'">

        <div class="video-user-container">
          <div class="user-photo-container">
            <span class="fas fa-user"></span>
          </div>
          <div class="user-name-container">
            <span>{{video.username || 'Username'}}</span>
          </div>

          <div class="video-status-container status-private"
               ng-class="{ 'status-invisible' : home.userServiceData.users.admin === false }"
               ng-show="video.file_public === false && video.file_status !== 6">

            <div class="video-status-icon-container status-private">
              <span class="fas fa-lock video-status-icon"></span>
              <span class="status">{{home.rootService.languageText.post_stat_private}}</span>
            </div>
          </div>

          <div class="video-status-container status-public"
               ng-class="{ 'status-invisible' : home.userServiceData.users.admin === false }"
               ng-show="video.file_public === true && video.file_status !== 6">

            <div class="video-status-icon-container status-public">
              <span class="fas fa-lock-open video-status-icon"></span>
              <span class="status">{{home.rootService.languageText.post_stat_published}}</span>
            </div>
          </div>

          <div class="video-status-container status-deleted"
               ng-class="{ 'status-invisible' : home.userServiceData.users.admin === false }"
               ng-show="video.file_status === 6">

            <div class="video-status-icon-container status-deleted">
              <span class="fas fa-trash-alt video-status-icon"></span>
              <span class="status">{{home.rootService.languageText.post_stat_deleted}}</span>
            </div>
          </div>

        </div>

        <div class="rating-container">
          <div class="star-container" ng-repeat="rating in home.ratingArray[video.id]">
            <span class="{{rating.star}}"></span>
          </div>
        </div>

        <img class="video-image" src="../images/upload-background.jpg" ng-show="video.public_url === ''">
        <video controls poster="../images/upload-background.jpg">
          <source src="{{video.public_url}}#t=0.1">
        </video>
        <img class="video-image-background" src="../images/upload-background.jpg">

        <div class="title-container" ng-click="home.goToSingleVideo(video.place_id, video.id)">
          <h5>{{video.title || 'Untitle'}}</h5>
          <span>100 {{home.rootService.languageText.post_views}} | {{video.creation_date | limitTo: 10}}</span>
        </div>

        <div class="social-container">

          <div class="button-social" ng-click="home.voteVideo(video.id, 1)"
               ng-class="{ 'button-social-active' : like }">
            <span class="fas fa-thumbs-up green-color"></span>
            <br>
            <span class="green-color">{{video.positive_votes}}</span>
          </div>

          <div class="button-social" ng-click="home.voteVideo(video.id, -1)"
               ng-class="{ 'button-social-active' : dislike }">
            <span class="fas fa-thumbs-down red-color"></span>
            <br>
            <span class="red-color">{{video.negative_votes}}</span>
          </div>

          <div class="button-social"
               ng-click="socialPopup = true"
               ng-class="{ 'button-social-active' : share }"
               ng-show="video.file_public === true">
            <span class="fas fa-share"></span>
            <br>
            <span>{{home.rootService.languageText.post_share}}</span>
          </div>
        </div>

        <div class="description-container">
          <span>{{video.description || 'Without Description'}}</span>
          <span class="description-link"
                ng-click="home.goToSingleVideo(video.place_id, video.id)">{{home.rootService.languageText.post_information}}</span>
        </div>

        <div class="comments-container">

        <textarea ng-model="home.comment[video.id]" placeholder="{{home.rootService.languageText.post_comment}}">
        </textarea>

          <div class="send-comment-button" ng-show="home.comment[video.id].length > 0"
               ng-click="home.addComment(video.id)">
            <span class="fas fa-paper-plane"></span>
          </div>

          <div class="show-more-comment-button"
               ng-show="home.comment[video.id].length === 0 || home.comment[video.id] === undefined"
               ng-click="home.getComments(video.id); home.toggleComments(video.id)"
               ng-class="{ 'show-more-comment-button-active' : home.openComments[video.id] }">
            <span class="fas fa-chevron-down"></span>
          </div>

        </div>

        <div class="gps-walk-button margin-0" ng-click="home.goToLocationVideo(video.place_id, video.id)">
          <span class="fas fa-map-marker-alt"></span>
        </div>

        <div class="all-comments-container"
             ng-class="{ 'all-comments-container-active' : home.openComments[video.id] }">

          <div class="comment" ng-repeat="comment in home.comments">

            <div class="comment-data">
              <div class="comment-data-left">
                <p>{{comment.username}}</p>
              </div>
              <div class="comment-data-right">
                <p>{{comment.date | date : 'yyyy-MM-dd HH:mm'}}</p>
              </div>
            </div>

            <div class="comment-text">
              <span>{{comment.text}}</span>
            </div>

            <div class="comment-buttons-container">

              <div class="comment-buttons-container-right">

                <div class="comment-flag" ng-click="home.flagComment(video.id, comment.comment_id)">
                  <div class="report-number" ng-show="home.userServiceData.users.admin === true">
                  <span>
                    {{comment.report}}
                  </span>
                  </div>
                  <span class="fas fa-exclamation-circle"></span>
                </div>

                <div class="comment-delete"
                     ng-show="home.userServiceData.users.admin === true"
                     ng-click="home.openDeleteComment(video.id, comment.comment_id)">
                  <span class="fas fa-trash-alt"></span>
                </div>

              </div>

            </div>

          </div>

        </div>

        <div class="admin-options" ng-show="home.userServiceData.users.admin === true">

          <button class="admin-button undelete-button"
                  ng-show="video.file_status === 6"
                  ng-click="undeletePopup = true">
            <span class="fas fa-undo-alt"></span>{{home.rootService.languageText.post_undelete}}
          </button>

          <button class="admin-button delete-button"
                  ng-show="video.file_status !== 6"
                  ng-click="deletePopup = true">
            <span class="fas fa-trash-alt"></span>{{home.rootService.languageText.post_delete}}
          </button>

          <button class="admin-button private-button"
                  ng-show="video.file_public === true"
                  ng-click="privatePopup = true">
            <span class="fas fa-lock"></span>{{home.rootService.languageText.post_button_private}}
          </button>

          <button class="admin-button"
                  ng-show="video.file_public === false"
                  ng-click="publishPopup = true">
            <span class="fas fa-lock-open"></span>{{home.rootService.languageText.post_button_publish}}
          </button>

        </div>

        <div class="popup-bg" ng-show="socialPopup">
          <div class="popup social-popup">

            <div class="button-menu social-close"
                 ng-click="socialPopup = false">
              <span class="fas fa-times"></span>
            </div>

            <div class="popup-social-icon">
              <span class="fas fa-share"></span>
            </div>
            <h1 class="popup-social-title">{{home.rootService.languageText.post_share}} {{video.title || 'Untitle'}}</h1>

            <a socialshare
               socialshare-provider="facebook"
               socialshare-via="424890874779971"
               socialshare-type="feed"
               socialshare-media="{{video.public_url}}"
               socialshare-description="Watch the video '{{video.title}}' by {{video.username}} from {{video.place_id}} in https://br.hopu.eu/#/home/{{video.place_id}}/{{video.id}}. See more videos in Walk a Story. https://br.hopu.eu/"
               socialshare-url="https://br.hopu.eu/">
              <span class="fab fa-facebook-square"></span>
              <span>Facebook</span>
            </a>

            <a socialshare
               socialshare-provider="twitter"
               socialshare-text="Watch the video '{{video.title}}' by {{video.username}} from {{video.place_id}} in https://br.hopu.eu/#/home/{{video.place_id}}/{{video.id}}. See more videos in Walk a Story."
               socialshare-hashtags="cocrew, {{video.place_id}}"
               socialshare-url="https://br.hopu.eu/">
              <span class="fab fa-twitter-square"></span>
              <span>Twitter</span>
            </a>

            <a socialshare
               socialshare-provider="whatsapp"
               socialshare-text="Watch the video '{{video.title}}' by {{video.username}} from {{video.place_id}} in https://br.hopu.eu/#/home/{{video.place_id}}/{{video.id}}. See more videos in Walk a Story."
               socialshare-url="https://br.hopu.eu/">
              <span class="fab fa-whatsapp-square"></span>
              <span>Whatsapp</span>
            </a>

            <a socialshare
               socialshare-provider="telegram"
               socialshare-text="Watch the video '{{video.title}}' by {{video.username}} from {{video.place_id}} in https://br.hopu.eu/#/home/{{video.place_id}}/{{video.id}}. See more videos in Walk a Story."
               socialshare-url="https://br.hopu.eu/">
              <span class="fab fa-telegram"></span>
              <span>Telegram</span>
            </a>

            <a socialshare
               socialshare-provider="facebook-messenger"
               socialshare-url="https://br.hopu.eu/">
              <span class="fab fa-facebook-messenger"></span>
              <span>Facebook Messenger</span>
            </a>

          </div>
        </div>

        <pop-up show="undeletePopup"
                icon-circle="undelete-icon"
                icon="fas fa-undo-alt"
                title="video.title"
                question="{{videoPlae.rootService.languageText.post_confirm_recover_text}}"
                show-buttons="home.userServiceData.users.admin === true"
                cancel-button="true"
                delete-button="false"
                un-delete-button="true"
                un-delete-function="home.undeleteVideo(video)"
                private-button="false"
                publish-button="false"
                update-rol-button="false"
                downgrade-rol-button="false">
        </pop-up>

        <pop-up show="deletePopup"
                icon-circle="delete-icon"
                icon="fas fa-trash-alt"
                title="video.title"
                question="{{home.rootService.languageText.post_confirm_delete_text}}"
                show-buttons="home.userServiceData.users.admin === true"
                cancel-button="true"
                delete-button="true"
                delete-function="home.deleteVideo(video.id)"
                un-delete-button="false"
                private-button="false"
                publish-button="false"
                update-rol-button="false"
                downgrade-rol-button="false">
        </pop-up>

        <pop-up show="privatePopup"
                icon-circle="private-icon"
                icon="fas fa-lock"
                title="video.title"
                question="{{home.rootService.languageText.post_confirm_private_text}}"
                show-buttons="home.userServiceData.users.admin === true"
                cancel-button="true"
                delete-button="false"
                un-delete-button="false"
                private-button="true"
                private-function="home.privateVideo(video)"
                publish-button="false"
                update-rol-button="false"
                downgrade-rol-button="false">
        </pop-up>

        <pop-up show="publishPopup"
                icon-circle="publish-icon"
                icon="fas fa-lock-open"
                title="video.title"
                question="{{home.rootService.languageText.post_confirm_publish_text}}"
                show-buttons="home.userServiceData.users.admin === true"
                cancel-button="true"
                delete-button="false"
                un-delete-button="false"
                private-button="false"
                publish-button="true"
                publish-function="home.publishVideo(video)"
                update-rol-button="false"
                downgrade-rol-button="false">
        </pop-up>

        <div class="popup-bg" ng-show="home.openFlagPopup[video.id]">
          <div class="popup">

            <div class="popup-inner">
              <div class="popup-status-icon flag-icon">
                <span class="fas fa-exclamation-circle"></span>
              </div>
              <h1 class="popup-video-title">{{video.title || 'Untitle'}}</h1>
              <p>{{home.rootService.languageText.post_report_text}}</p>
              <p class="left"><span class="bold-yellow">{{home.flagCommentSelected.user}}:</span>
                {{home.flagCommentSelected.text}}</p>
            </div>

            <div class="admin-options popup-options">
              <button class="admin-button" ng-click="home.openFlagPopup[video.id] = false">{{home.rootService.languageText.post_report_button_cancel}}</button>
              <button class="admin-button delete-button"
                      ng-click="home.addReportToComment(home.flagCommentSelected.id); home.openFlagPopup[video.id] = false">
                <span class="fas fa-exclamation-circle"></span>{{home.rootService.languageText.post_confirm_report_button}}
              </button>
            </div>
          </div>
        </div>

        <div class="popup-bg" ng-show="home.openDeleteCommentPopup[video.id]">
          <div class="popup">

            <div class="popup-inner">
              <div class="popup-status-icon delete-icon">
                <span class="fas fa-trash-alt"></span>
              </div>
              <h1 class="popup-video-title">{{video.title || 'Untitle'}}</h1>
              <p>{{home.rootService.languageText.post_delete_comment}}</p>
              <p class="left"><span class="bold-yellow">{{home.deleteCommentSelected.user}}:</span>
                {{home.deleteCommentSelected.text}}</p>
            </div>

            <div class="admin-options popup-options">
              <button class="admin-button" ng-click="home.openDeleteCommentPopup[video.id] = false">{{home.rootService.languageText.post_delete_comment_button}}</button>
              <button class="admin-button delete-button"
                      ng-click="home.deleteComment(home.deleteCommentSelected.id); home.openDeleteCommentPopup[video.id] = false">
                <span class="fas fa-trash-alt"></span>{{home.rootService.languageText.post_delete_comment_button}}
              </button>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div app-view-segment="2" ng-hide="('language.home.place_id.poi_id' | routeSegmentStartsWith)"></div>

    <div app-view-segment="3" ng-hide="('language.home.place_id.poi_id.video_id' | routeSegmentEqualsTo)"></div>

    <div app-view-segment="4"></div>

  </div>

</div>
