<div class="background-login">
  <div class="background-login-upper">
  </div>

  <div class="login-form">

    <div class="button-menu button-menu-active"
         ng-click="survey.goToLogin()">
      <span class="fas fa-times"></span>
    </div>

    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSej6_N9ArKZY8GykUEDFmHKloA0tjD-cp6TGmdmUD4-WP8XpA/viewform?embedded=true"
            frameborder="0"
            marginheight="0"
            marginwidth="0">Loading…
    </iframe>
  </div>

</div>
