<div class="background-login">

  <div class="background-login-upper">
  </div>

  <form class="login-form">

    <div class="button-menu button-menu-active"
         ng-click="terms.goToLogin()">
      <span class="fas fa-times"></span>
    </div>

    <header class="login-header">
      <h1>{{terms.rootService.languageText.title_terms}}</h1>
    </header>

    <div class="login-icon">
      <span class="fas fa-user"></span>
    </div>
    <div class="user-terms-container">
      <p>{{terms.rootService.languageText.date_terms}}</p>
      <p>{{terms.rootService.languageText.date_terms2}}</p>
      <br>
      <p>{{terms.rootService.languageText.renunc_text_terms}}</p>
      <p>{{terms.rootService.languageText.renunc_text_terms2}}</p>
      <p>{{terms.rootService.languageText.renunc_text_terms3}}</p>
      <br>
      <p><strong>{{terms.rootService.languageText.whoare_terms}}</strong></p>
      <p>{{terms.rootService.languageText.whoare_text_terms}}</p>
      <br>
      <p><strong>{{terms.rootService.languageText.resume_terms}}</strong></p>
      <p>{{terms.rootService.languageText.resume_text_terms}}</p>
      <p>{{terms.rootService.languageText.resume_text_terms2}}</p>
      <p>{{terms.rootService.languageText.resume_text_terms3}}</p>
      <br>
      <p><strong>{{terms.rootService.languageText.data_terms}}</strong></p>
      <p>{{terms.rootService.languageText.data_title_terms}}</p>
      <p>{{terms.rootService.languageText.data_cif_terms}}</p>
      <p>{{terms.rootService.languageText.data_address_terms}}</p>
      <p>{{terms.rootService.languageText.data_email_terms}}</p>
      <p>{{terms.rootService.languageText.data_purpose_terms}}</p>
      <p>{{terms.rootService.languageText.data_legitimation_terms}}</p>
      <p>{{terms.rootService.languageText.data_storage_terms}}</p>
      <br>
      <p><strong>{{terms.rootService.languageText.access_terms}}</strong></p>
      <p>{{terms.rootService.languageText.access_text_terms}}</p>
      <p>{{terms.rootService.languageText.access_text_terms2}}</p>
      <br>
      <p><strong>{{terms.rootService.languageText.accept_terms}}</strong></p>
      <p>{{terms.rootService.languageText.accept_text_terms}}</p>
      <br>
      <p><strong>{{terms.rootService.languageText.responssable_terms}}</strong></p>
      <p>{{terms.rootService.languageText.responssable_text_terms}}</p>

      <p><strong>{{terms.rootService.languageText.purpose_terms}}</strong></p>
      <p>{{terms.rootService.languageText.purpose_text_terms}}</p>

      <p><strong>{{terms.rootService.languageText.intelectualp_terms}}</strong></p>
      <p>{{terms.rootService.languageText.intelectualp_text_terms}}</p>
      <br>

      <p><strong>{{terms.rootService.languageText.contact_terms}}</strong></p>
      <p>{{terms.rootService.languageText.contact_text_terms}}</p>
      <br>
    </div>


  </form>


</div>
