<main-menu></main-menu>

<div class="home-background">

  <header class="home-header">
    <h1>{{tutorials.rootService.languageText.tutorials_title}}</h1>
  </header>

  <div class="gallery-container">

    <!--
    <div class="empty-container"
         ng-show="tutorials.videoServiceData.videoList.videos.length === 0">

      <div class="empty-icon">
        <span class="fas fa-video-slash"></span>
      </div>

      <p>There are no videos uploaded,
        <br>
        go to <a ng-click="tutorials.goToUpload()">UPLOAD VIDEO</a> section</p>

    </div>
    -->

    <div class="video-target">

      <video controls poster="../images/upload-background.jpg">
        <source src="https://storage.googleapis.com/co-crew/co-crew-directory/tutorial/DK_Erasmus%20%20%20storyteller%20Dansk.mp4#t=0.1">
      </video>

      <div class="title-container tutorial-info">
        <h5>{{tutorials.rootService.languageText.tutorials_description_video_1}}</h5>
      </div>

    </div>

    <div class="video-target">

      <video controls poster="../images/upload-background.jpg">
        <source src="https://storage.googleapis.com/co-crew/co-crew-directory/tutorial/DK_Erasmus%20%20%20storyteller%20English.mp4#t=0.1">
      </video>

      <div class="title-container tutorial-info">
        <h5>{{tutorials.rootService.languageText.tutorials_description_video_2}}</h5>
      </div>

    </div>

    <div class="video-target">

      <video controls poster="../images/upload-background.jpg">
        <source src="https://storage.googleapis.com/co-crew/co-crew-directory/tutorial/How%20to%20record%20a%20video_HOPU.mp4#t=0.1">
      </video>

      <div class="title-container tutorial-info">
        <h5>{{tutorials.rootService.languageText.tutorials_description_video_3}}</h5>
      </div>

    </div>

    <div class="video-target">

      <video controls poster="../images/upload-background.jpg">
        <source src="https://storage.googleapis.com/co-crew/co-crew-directory/tutorial/What%20can%20be%20a%20story%20about.mp4#t=0.1">
      </video>

      <div class="title-container tutorial-info">
        <h5>{{tutorials.rootService.languageText.tutorials_description_video_7}}</h5>
      </div>

    </div>

    <div class="video-target">

      <video controls poster="../images/upload-background.jpg">
        <source src="https://storage.googleapis.com/co-crew/co-crew-directory/tutorial/storyteller_pay_attention_2.mp4#t=0.1">
      </video>

      <div class="title-container tutorial-info">
        <h5>{{tutorials.rootService.languageText.tutorials_description_video_8}}</h5>
      </div>

    </div>

    <div class="video-target">

      <video controls poster="../images/upload-background.jpg">
        <source src="https://storage.googleapis.com/co-crew/co-crew-directory/tutorial/VARAZDIN_How%20to%20choose%20attractive%20location%20for%20making%20video.mp4#t=0.1">
      </video>

      <div class="title-container tutorial-info">
        <h5>{{tutorials.rootService.languageText.tutorials_description_video_9}}</h5>
      </div>

    </div>

    <div class="video-target">

      <iframe src="https://www.youtube.com/embed/_m21XrriR4Y" frameborder="0" allow="encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <div class="title-container tutorial-info">
        <h5>{{tutorials.rootService.languageText.tutorials_description_video_4}}</h5>
      </div>

    </div>

    <div class="video-target">

      <iframe src="https://www.youtube.com/embed/xOpJdHiIwhQ" frameborder="0" allow="encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <div class="title-container tutorial-info">
        <h5>{{tutorials.rootService.languageText.tutorials_description_video_5}}</h5>
      </div>

    </div>

    <div class="video-target">

      <iframe src="https://www.youtube.com/embed/Co21Gw7zqNY" frameborder="0" allow="encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <div class="title-container tutorial-info">
        <h5>{{tutorials.rootService.languageText.tutorials_description_video_6}}</h5>
      </div>

    </div>

  </div>


</div>
